<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Test Technique{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
            integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
            integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
            crossorigin="anonymous"></script>
    <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ absolute_url(asset('css/style.css')) }}"/>
    {% endblock %}
</head>
<body>
{#<header>#}
{#    <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">#}
{#        <div class="container">#}
{#            <a class="navbar-brand waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">#}
{#                <strong class="blue-text">MDB</strong>#}
{#            </a>#}
{#            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
{#                    aria-controls="navbarSupportedContent"#}
{#                    aria-expanded="false" aria-label="Toggle navigation">#}
{#                <span class="navbar-toggler-icon"></span>#}
{#            </button>#}
{#            <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                <ul class="navbar-nav mr-auto">#}
{#                    <li class="nav-item active">#}
{#                        <a class="nav-link waves-effect" href="#">Home#}
{#                            <span class="sr-only">(current)</span>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/docs/jquery/" target="_blank">About#}
{#                            MDB</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link waves-effect"#}
{#                           href="https://mdbootstrap.com/docs/jquery/getting-started/download/" target="_blank">Free#}
{#                            download</a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a class="nav-link waves-effect" href="https://mdbootstrap.com/education/bootstrap/"#}
{#                           target="_blank">Free tutorials</a>#}
{#                    </li>#}
{#                </ul>#}
{#                <ul class="navbar-nav nav-flex-icons">#}
{#                    <li class="nav-item">#}
{#                        <a href="https://www.facebook.com/mdbootstrap" class="nav-link waves-effect" target="_blank">#}
{#                            <i class="fab fa-facebook-f"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="https://twitter.com/MDBootstrap" class="nav-link waves-effect" target="_blank">#}
{#                            <i class="fab fa-twitter"></i>#}
{#                        </a>#}
{#                    </li>#}
{#                    <li class="nav-item">#}
{#                        <a href="https://github.com/mdbootstrap/bootstrap-material-design"#}
{#                           class="nav-link border border-light rounded waves-effect"#}
{#                           target="_blank">#}
{#                            <i class="fab fa-github mr-2"></i>MDB GitHub#}
{#                        </a>#}
{#                    </li>#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </nav>#}
{#</header>#}
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
